<%= render "shared/header" %>

<div class="wrapper">
<article>

<section id="intro" class="flex flex-align-center flex-justify-center">

<!--?xml version="1.0" encoding="UTF-8"?-->
<svg id="intro-logo" class="intro-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.97 125.31" width="332.9700012207031" height="125.30999755859375">
<g id="cycpp"><path d="M232.86,62.72c18.46,0,33.43-14.01,33.43-31.28S252.43,1.33,234.94.32h-35.34v31.46h33.26v30.95Z" class="svg-elem-1"></path>
<path d="M199.6,31.84c0,17.06,14.97,30.89,33.43,30.89l-.04-.1v31.15h-33.34V31.68" class="svg-elem-2"></path>
<path d="M299.54,63.58c18.46,0,33.43-14.01,33.43-31.28s-13.85-30.11-31.34-31.12h-35.34v31.46h33.26v30.95Z" class="svg-elem-3"></path>
<path d="M266.28,32.69c0,17.06,14.97,30.89,33.43,30.89l-.04-.1v31.15h-33.34v-62.1" class="svg-elem-4"></path>
<path d="M0,31.74s2.98,30.24,34.52,30.24c0,0,30.18.96,32.08,31.05v.55h-33.3C14.99,93.59.14,79.62.14,62.39v-31.2C.14,13.97,14.99,0,33.3,0s33.16,13.97,33.16,31.2H.14" class="svg-elem-5"></path>
<path d="M133.01,31.87s2.98,30.24,34.52,30.24c0,0,30.18.96,32.08,31.05v.55h-33.3c-18.32,0-33.16-13.97-33.16-31.2v-31.2C133.15,14.1,148,.13,166.32.13s33.16,13.97,33.16,31.2h-66.33" class="svg-elem-6"></path>
<path d="M99.75,62.83c-18.38,0-33.28-14.02-33.28-31.31l33.26.1.03,31.21Z" class="svg-elem-7"></path>
<path d="M66.47.32c18.38,0,33.28,14.02,33.28,31.31l-33.26-.1-.03-31.21Z" class="svg-elem-8"></path>
<path d="M99.74,31.63c0-17.29,14.9-31.31,33.28-31.31l-.1,31.28-33.18.02Z" class="svg-elem-9"></path>
<path d="M99.8,62.85s29.15-3.01,33.17-30.38h.07v61.5c0,17.29-14.9,31.31-33.28,31.31l-.03.02v-31.33l.03-31.05" class="svg-elem-10"></path>
<path d="M166.35,31.33c1.66,15.82,15.84,28.19,33.1,28.19l-.08-28.19h-33.02Z" class="svg-elem-11"></path>
<path d="M33.46,31.2c1.6,15.88,15.81,28.32,33.11,28.32l-.08-28.32h-33.03Z" class="svg-elem-12"></path>
</g>
</svg>
</section>

<div class="top-content">
    <div class="top-images">
    <div class="top-row">
      <%= image_tag "top.jpg", class: "top-image" %>
</div>
  <div class="link-btn-box">
    <%= link_to "Click here for the portfolio", portfolio_path, class: "link-btn" %>
  </div>


</article>
</div>
</main>
<%= render "shared/footer" %>