.complete-text {
  font-size: 16px;
}

.btn-backtostore , .btn-logout {
  font-size: 16px;
}


/*
.product-confirmation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px; 
  margin: 100px 0;
}

.product {
padding: 10px;
width: 50%;
}

.product-image {
  flex: 1;
}

.product-details {
  flex: 1;
  padding-left: 50px;
  width: 50%;
  text-align: left;
}

.credit-card-form {
  margin-top: 20px;
}

.field {
  margin-bottom: 10px;
}

.required::after {
  content: "必須";
  color: red;
  margin-left: 5px;
}

.btn.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
*/