<nav id="global-menu" class="flex">
  <div class="left-content flex">
      <%# TOPページへのリンク %>
      <%= link_to "Top", root_path, data: { turbo: false }, class: "header-menu" %>  
      <%# Loginページへのリンク %>
      <%= link_to "Login", new_user_session_path, class: "header-menu" %>
  </div>
  <div class="center-content">
    <%= image_tag "cycpp_logo_k.svg", class: "header-logo" %>
  </div>
  <div class="right-content">
    <%= link_to "ONLINE STORE", products_path, class: "online-store-btn" %>
  </div>
</nav>
