.portfolio-content {
  text-align: center;
  margin: 60px auto;
}

.link-btn-box {
  text-align: center;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.image-row {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

.portfolio-image {
  width: 640px; /* デフォルトサイズ */
  height: auto;
}

.portfolio-text {
  font-size: 16px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}