<%= render "shared/header" %>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title'>
      Confirm your Order
    </h1>
    <h2 class='transaction-title-text'>
      購入内容の確認
    </h2>
    <h3 class='transaction-title-text2'>
      ※ご注文の確定は画面下のOrderボタンをクリックしてください
    </h3>

    <%# 購入内容の表示 %>
    
    <%# /購入内容の表示 %>

    <%# 支払額の表示 %>
    
    <%# /支払額の表示 %>
  </div>
</div>

<%= render "shared/footer" %>
