main {
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.greeting{
  text-align: left;
  font-size: 15px;
  margin: 0px 0px 20px 60px;
}

.products-text{
font-size: 16px;
text-align: center;
font-family: "Josefin Sans", sans-serif;
}

.product img {
  height: auto;
  display: inline-block;
}

.product-name{
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
}

.product-description{
  font-size: 13px;
}

.product-price{
  font-size: 16px;
  font-weight: 600;
}

/* 既存のCSSに追加 */

.link-btn-box {
  text-align: center;
  margin: 20px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  padding: 10px;
  text-align: center;
  position: relative;
  width: 30%;
}

.sold-out {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px;
  font-size:1.5rem;
  font-weight: bold;
}

.item-red-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightslategray;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
}
